/* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.container-big {
    width: 80%;
    margin: 0 auto;
}
.container-small {
    width: 65%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.blue-btn {
    background-color: rgb(1,97,255);
    padding: 10px 15px;
    color: white;
}
.blue-btn:hover {
    background-color: cornflowerblue;
}
h2 {
    font-size: 35px;
}
h4 {
    font-size: 20px;
}
.layover {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100vw;
    height: calc(100vh);
    background-color: rgba(0,0,0,0.4);
    z-index: 0;
    display: none;
}
.show-menu:hover~.layover {
    display: block;
}


/* header */


header {
    background-color: white;
    width: 100%;
    padding: 0 20px;
    border-bottom: 0.5px solid lightgrey;
    position: fixed;
    z-index: 1;
}
.header-left {
    float: left;
}
.header-right {
    float: right;
}
.header-left .header-logo {
    float: left;
    line-height: 66px;
    margin-right: 15px;
}
#logo {
    vertical-align: middle;
    cursor: pointer;
}
.header-menu {
    line-height: 70px;
    float: left;
}
.header-menu>ul>li {
    display: inline-block;
    padding: 0 15px;
}
.header-menu li:hover span {
    padding-top: 20px;
    padding-bottom: 21.5px;
    border-bottom: 3px solid rgb(1,97,255);
    cursor: pointer;
}
.header-menu .hidden-menu {
    background-color: white;
    position: absolute;
    display: none;
    margin-top: 0.5px;
    z-index: 1;
}
.show-menu:hover .hidden-menu {
    position: absolute;
    display: block;
}
.hidden-menu .hidden-list {
    width: 15vw;
    float: left;
    line-height: 17px;
}
.hidden-list h6, .hidden-list a {
    font-size: 13px;
    padding: 12px 10px;
    display: block;
}
.hidden-list li {
    list-style: none;
}
.hidden-list a {
    display: block;
    color: black;
}
.hidden-list li:hover {
    background-color: rgb(240,240,240);
}
.header-right {
    float: right;
}
.header-right .show-menu {
    position: relative;
}
.header-right .hidden-menu {
    right: 15px;
}
.header-right .header-btn {
    display: inline-block;
    line-height: 70px;
    padding-left: 15px;
}
#accedi i {
    margin-left: 15px;
}


/* main */


main {
    padding: 70px 0;
}
/* jumbotron */
.jumbotron {
    background-color: rgb(180, 208, 231);
    padding-top: 60px;
    padding-bottom: 50px;
    z-index: -1;
}
.jumbotron h1 {
    font-size: 65px;
}
.jumbo-content {
    margin-top: 30px;
}
.jumbo-text {
    position: relative;
    float: left;
    width: 40%;
    padding-right: 40px;
}
.jumbo-btn {
    margin-top: 35px;
    margin-bottom: 20px;
}
#jumbo-annulla {
    font-size: 13px;
    margin-bottom: 30px;
}
.jumbo-text i {
    font-size: 40px;
    cursor: pointer;
}
.jumbo-img {
    float: left;
    width: 60%;
    position: relative;
}
.jumbo-img img {
    position: absolute;
    top: 0;
    width: 100%;
}

/* plans section */
.plans {
    margin-top: 12vw;
}
.plans .fatturazione {
    margin-top: 50px;
}
.plans .fatturazione .circle {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid lightgray;
}
.plans .fatturazione .circle.check {
    border: 4px solid rgb(1,97,255);
}
.fatturazione span:nth-child(2) {
    margin-right: 20px;
}
.fatturazione span {
    vertical-align: middle;
    cursor: pointer;
}
.options {
    margin-top: 30px;
}
.options-top {
    display: flex;
}
.options-col {
    width: calc((100% - 100px) / 3);
    float: left;
    border: 1px solid lightgray;
    padding-bottom: 80px;
}
.center-col {
    margin: 0 50px;
}
.options .utente {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.col-content, .row-content {
    padding: 25px;
    font-size: 12px;
}
.options .bold {
    font-weight: bold;
    font-size: 15px;
    padding: 12px 0;
}
.col-content .ricorrenza {
    color: grey;
    margin-bottom: 50px;
}
.options-col li {
    list-style: none;
    padding-bottom: 20px;
}
.col-icons-options div {
    display: inline-block;
    vertical-align: top;
}
.col-icons-options div:nth-child(2) {
    width: calc(100% - 30px);
}
.col-calltoaction .blue-btn {
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px 0;
    font-size: 13px;
}
.col-calltoaction #col-buy {
    color: rgb(1,97,255);
    text-decoration: underline;
}
.col-content hr {
    margin: 30px 0;
    border: 0.5px solid lightgray;
    width: 50px;
}
.col-bottom span {
    display: inline-block;
    margin-bottom: 10px;
}
.col-bottom i {
    color: rgb(1,97,255);
    font-size: 16px;
}
.options-bottom {
    margin-top: 50px;
}
.options-row {
    border: 1px solid lightgray;
}
.row-left p {
    margin-top: 20px;
}
.row-left {
    float: left;
    width: 70%;
}
.row-right {
    margin-top: 10px;
    width: 30%;
    float: right;
}
.row-right .blue-btn {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 13px;
}

/* find-partner section */
.find-partner {
    margin-top: 150px;
}
.partner-img {
    float: left;
    width: 55%;
}
.partner-img img {
    width: 100%;
}
.partner-text {
    float: left;
    width: 45%;
    padding: 50px 0 0 50px;
}
.partner-text p {
    margin-top: 30px;
    font-size: 14px;
    line-height: 25px;
}
.partner-btn {
    display: inline-block;
    padding: 10px 17px;
    border: 1px solid black;
    font-size: 14px;
    color: black;
    margin-top: 25px;
}
.partner-btn:hover {
    background-color: rgb(240, 240, 240);
}


/* +++ debug +++ */


/* .debug header {
    background-color: grey;
} */
/* .debug .header-left {
    background-color: skyblue;
    height: 100%;
} */
/* .debug .header-right {
    background-color: lightyellow;
    height: 70px;
    width: 50%;
} */
/* .debug .header-menu .hidden-menu {
    height: 300px;
    width: 500px;
} */
/* .debug .hidden-menu .hidden-list {
    height: 100%;
    background-color: lightgrey;
} */

/* .debug .jumbotron {
    height: 600px;
} */

/* .debug .options .options-col {
    height: 500px;
} */
/* .debug .find-partner {
    background-color: lightgrey;
    height: 800px;
} */