/* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.container-big {
    width: 80%;
    margin: 0 auto;
}
.container-small {
    width: 70%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.blue-btn {
    background-color: rgb(1,97,255);
    padding: 10px 15px;
    color: white;
}
.blue-btn:hover {
    background-color: cornflowerblue;
}



/* header */


header {
    background-color: white;
    width: 100%;
    padding: 0 20px;
    border-bottom: 0.5px solid lightgrey;
    position: fixed;
}
.header-left {
    float: left;
}
.header-right {
    float: right;
}
.header-left .header-logo {
    float: left;
    line-height: 66px;
    margin-right: 15px;
}
#logo {
    vertical-align: middle;
    cursor: pointer;
}
.header-menu {
    line-height: 70px;
    float: left;
}
.header-menu>ul>li {
    display: inline-block;
    padding: 0 15px;
}
.header-menu li:hover span {
    padding-top: 20px;
    padding-bottom: 21.5px;
    border-bottom: 3px solid skyblue;
    cursor: pointer;
}
.header-menu .hidden-menu {
    background-color: white;
    position: absolute;
    display: none;
    z-index: 2;
    margin-top: 0.5px;
    padding: 5px;
}
.show-menu:hover .hidden-menu {
    display: block;
}
.hidden-menu .hidden-list {
    width: 15vw;
    float: left;
    line-height: 17px;
}
.hidden-list h6, .hidden-list a {
    font-size: 13px;
    padding: 12px 10px;
    display: block;
}
.hidden-list li {
    list-style: none;
}
.hidden-list a {
    display: block;
    color: black;
}
.hidden-list li:hover {
    background-color: rgb(240,240,240);
}
.header-right {
    float: right;
}
.header-right .show-menu {
    position: relative;
}
.header-right .hidden-menu {
    position: absolute;
    right: 15px;
}
.header-right .header-btn {
    display: inline-block;
    line-height: 70px;
    padding-left: 15px;
}
#accedi i {
    margin-left: 15px;
}


/* main */


main {
    padding-top: 70px;
}
/* jumbotron */
.jumbotron {
    background-color: rgb(180, 208, 231);
    padding-top: 60px;
    padding-bottom: 40px;
}
.jumbotron h1 {
    font-size: 65px;
}
.jumbo-content {
    margin-top: 30px;
}
.jumbo-text {
    float: left;
    width: 40%;
    padding-right: 40px;
}
.jumbo-btn {
    margin-top: 35px;
    margin-bottom: 20px;
}
#jumbo-annulla {
    font-size: 13px;
    margin-bottom: 30px;
}
.jumbo-text i {
    font-size: 40px;
    cursor: pointer;
}
.jumbo-img {
    float: left;
    width: 60%;
    position: relative;
}
.jumbo-img img {
    position: absolute;
    top: 0;
    width: 100%;
}

/* +++ debug +++ */


/* .debug header {
    background-color: grey;
} */
/* .debug .header-left {
    background-color: skyblue;
    height: 100%;
} */
/* .debug .header-right {
    background-color: lightyellow;
    height: 70px;
    width: 50%;
} */
/* .debug .header-menu .hidden-menu {
    height: 300px;
    width: 500px;
} */
/* .debug .hidden-menu .hidden-list {
    height: 100%;
    background-color: lightgrey;
} */

/* .debug .jumbotron {
    height: 600px;
} */



/* layover */
/* .layover {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 70px);
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
    display: none;
}
li:hover .layover {
    display: block;
}
.layover:hover {
    display: none;
} */